html, body {
    font-family: 'Open Sans', sans-serif;
}

.events {
    background-color: white;
    display: flex;
    min-height: 250px;
    padding: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.aboutus {
    background-color: rgb(219, 68, 55);
    color: white;
    min-height: 250px;
}

.ourteam {
    background-color: white;
    color: #637282;
    min-height: 250px;
}

.footer {
    background-color: rgb(101, 101, 101);
    color: white;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-deck {
    width: 100%;
}
.card-img-top {
    width: 350px;
    height: 400px;

}
.mb-1 {
    color: red;
    margin-left: 16.5%;
    margin-right: 16.5%;
}

.mb-2 {
    color: black;
    margin-left: 16.5%;
    margin-right: 16.5%;
}

.figure-caption {
    font-size: 125%;
   
}

.nav-link {
    font-size: 150%;
    
}

.figure-img {
    height: 500px;
    width: 800px;
}

